{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  </head>
  <body>
    {% block content %}
<nav class="navbar navbar-expand-md navbar-inverse bg-inverse fixed-top">
    <!--  <a class="navbar-brand" href="/">HDBlog</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse top-nav" id="navbarSupportedContent">
      <ul class="nav mr-auto">
        <li class="nav-item">
          <a class="nav-link navbar-brand" href="/">HDBlog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="/blog/search">Search Post</a>
        </li>
      </ul>


      <!--  
      <form class="form-inline my-2 my-lg-0">
        <input action="." method="get" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 bg-dark" type="submit">Szukaj</button>
      </form>
    -->
    </div>

  </nav>
  {% endblock %}
</body>
</html>